<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/jquery.min.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:0C322C;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.suse.com" id="home-logo">
                <img class="logo nonfed" height="52px" src="https://www.suse.com/assets/img/suse-white-logo-green.svg">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--    
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
          -->
            <form class="navbar-form navbar-left" action="/search_result/" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
                <div class="form-group">
                    <select class="form-control" id="sel1" name="sellist1">
                        <option class="form-control">OSD and O3</option>
                        <option class="form-control">OSD</option>
                        <option class="form-control">O3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <!--  
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
          -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="three-boxes">
    <div class="three-boxes-left">
        <div class="three-boxes-left-top">
            <div class="three-boxes-left-header">
                <h3 class="t1-heading-2">Why this site?</h3>
            </div>
            <div class="three-boxes-subheader">
                <p>A simple web package can find openQA jobs/jobgroups which use specific test module.</p>
                <p>We have many test modules which may be used by other job groups.</p>
                <p>If we do some code changes, we need make sure VRs should be done for all these jobs.</p>
                <p>It will be an easy way to find all these jobs.</p>
            </div>
        </div>
        <div class="three-boxes-img"></div>
    </div>
    <div class="three-boxes-right">
        <div class="three-boxes-left-header">
            <h3 class="t1-heading-2">How to use it?</h3>
        </div>
        <div class="three-boxes-right-wrapper">
            <div class="three-boxes-right-num">
                <div class="three-boxes-right-num-border"></div>
                <div class="three-boxes-right-num-num">Step 1:</div>
            </div>
            <div class="three-boxes-right-text">
                <div class="three-boxes-right-header">Input the test module you wanna to search</div>
                <div class="three-boxes-right-subheader">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="three-boxes-right-wrapper">
            <div class="three-boxes-right-num">
                <div class="three-boxes-right-num-border"></div>
                <div class="three-boxes-right-num-num">Step 2:</div>
            </div>
            <div class="three-boxes-right-text">
                <div class="three-boxes-right-header">Click the button search</div>
                <div class="three-boxes-right-subheader">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="three-boxes-right-wrapper">
            <div class="three-boxes-right-num">
                <div class="three-boxes-right-num-border"></div>
                <div class="three-boxes-right-num-num">Step 3:</div>
            </div>
            <div class="three-boxes-right-text">
                <div class="three-boxes-right-header">Will jump another page to show the result</div>
                <div class="three-boxes-right-subheader">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
</style>
<body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img">
                    <title>Bootstrap</title>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path>
                </svg>
                <span class="fs-4">Starter template</span>
            </a>
        </header>
        <main>
            <h1>Get started with Bootstrap</h1>
            <p class="fs-5 col-md-8">Quickly and easily get started with Bootstrap's compiled, production-ready files with this barebones example featuring some basic HTML and helpful links. Download all our examples to get started.</p>
            <div class="mb-5">
                <a href="../examples/" class="btn btn-primary btn-lg px-4">Download examples</a>
            </div>
            <hr class="col-3 col-md-2 mb-5">
            <div class="row g-5">
                <div class="col-md-6">
                    <h2>Starter projects</h2>
                    <p>Ready to beyond the starter template? Check out these open source projects that you can quickly duplicate to a new GitHub repository.</p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1"><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
                        <li class="text-muted d-flex align-items-start mb-1">Bootstrap Parcel starter (coming soon!)</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h2>Guides</h2>
                    <p>Read more detailed instructions and documentation on using or contributing to Bootstrap.</p>
                    <ul class="icon-list ps-0">
                        <li class="d-flex align-items-start mb-1"><a href="../getting-started/introduction/">Bootstrap quick start guide</a></li>
                        <li class="d-flex align-items-start mb-1"><a href="../getting-started/webpack/">Bootstrap Webpack guide</a></li>
                        <li class="d-flex align-items-start mb-1"><a href="../getting-started/parcel/">Bootstrap Parcel guide</a></li>
                        <li class="d-flex align-items-start mb-1"><a href="../getting-started/contribute/">Contributing to Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="pt-5 my-5 text-muted border-top">
            Created by the Bootstrap team &middot; &copy; 2022
        </footer>
    </div>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>