<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/static/bootstrap/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/jquery.min.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid" style="background-color:0C322C;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="https://www.suse.com" id="home-logo">
                <img class="logo nonfed" height="52px" src="https://www.suse.com/assets/img/suse-white-logo-green.svg">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--    
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
          -->
            <form class="navbar-form navbar-left" action="/search_result/" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
                <div class="form-group">
                    <select class="form-control" id="sel1" name="sellist1">
                        <option class="form-control">osd</option>
                        <option class="form-control">o3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <!--  
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
          -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<style>
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
</style>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    <main>
        <h1>Why this site?</h1>
        <p class="fs-5 col-md-8">
            A simple web package can find openQA jobs/jobgroups which use specific test module.
        </p>
        <p class="fs-5 col-md-8">
            We have many test modules which may be used by other job groups.
        </p>
        <p class="fs-5 col-md-8">
            If we do some code changes, we need make sure VRs should be done for all these jobs,
        </p>
        <p class="fs-5 col-md-8">
            It will be an easy way to find all these jobs.
        </p>
        <hr class="col-3 col-md-2 mb-5">
        <div class="row g-5">
            <div class="col-md-6">
                <h2>How to use it?</h2>
                <p class="fs-5 col-md-8">
                    Step 1:
                </p>
                <p class="fs-5 col-md-8">
                    Input the test module you wanna to search
                </p>
                <p class="fs-5 col-md-8">
                    Step 2:
                </p>
                <p class="fs-5 col-md-8">
                    Click the button search
                </p>
                <p class="fs-5 col-md-8">
                    Step 3:
                </p>
                <p class="fs-5 col-md-8">
                    Will jump another page to show the result
                </p>
            </div>
        </div>
    </main>
</div>